<header class="site-header">
  <div class="header-inner">
    <a href="<%= typeof appBase !== 'undefined' ? appBase : '' %>/" class="logo">
      <div class="logo-icon">Ds</div>
      <div>
        <div class="logo-text">Dan Sfera</div>
        <div class="logo-sub">PDUFA Tracker</div>
      </div>
    </a>

    <nav class="header-nav">
      <a href="<%= typeof appBase !== 'undefined' ? appBase : '' %>/" class="hide-mobile">Calendar</a>
      <a href="<%= typeof appBase !== 'undefined' ? appBase : '' %>/about" class="hide-mobile">About the Calendar</a>
      <a href="<%= typeof appBase !== 'undefined' ? appBase : '' %>/dan-sfera" class="hide-mobile">Dan Sfera</a>
      <a href="https://substack.com/@dansfera1" target="_blank" rel="noopener" class="hide-mobile">Substack</a>
      <a href="https://x.com/dansfera" target="_blank" rel="noopener" class="header-cta">Follow on X</a>
    </nav>
  </div>
</header>
